<!-- templates/admin/layout/slidebar.html -->
<div th:fragment="sidebar" class="sidebar d-flex flex-column">
    <!-- Logo -->
    <a th:href="@{/}" class="navbar-brand text-center">
        <img th:src="@{/img/logo1.jpg}" alt="F6Shop">
    </a>

    <!-- Menu -->
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" th:href="@{/admin/index}"><i class="fas fa-home"></i> Trang chủ</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/admin/category/list}"><i class="fas fa-list"></i> Loại sản phẩm</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/admin/product/list/1}"><i class="fas fa-box"></i> Sản phẩm</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/admin/account/list/1}"><i class="fa-solid fa-circle-user"></i> Người dùng</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/admin/order}"><i class="fas fa-receipt"></i> Hóa đơn</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/admin/news}"><i class="fas fa-receipt"></i> Tin Tức</a></li>
        <li class="nav-item"><a class="nav-link" th:href="@{/admin/thongke}"><i class="fas fa-chart-line"></i> Thống kê</a></li>
    </ul>

    <!-- User Dropdown -->
    <div class="mt-auto p-3">
        <div class="dropdown">
            <span class="btn btn-secondary dropdown-toggle w-100" id="loggedInUserDropdown" data-bs-toggle="dropdown" aria-expanded="false" th:text="${session.fullName}">
            </span>
            <ul class="dropdown-menu" aria-labelledby="loggedInUserDropdown">
                <li><a class="dropdown-item" th:href="@{/logout}">Đăng Xuất</a></li>
            </ul>
        </div>
    </div>
</div>