* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    cursor: pointer;
    box-sizing: border-box;
}
/*form dang ky*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    padding-top: 1px;
    margin-top: 25px;
    padding-bottom: 35px;
}

.form-header {
    text-align: center;
    margin-bottom: 30px;
}

.form-header img {
    max-width: 150px;
}

.form-header h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.form-header p {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.form-header a {
    color: #0070c9;
    text-decoration: none;
}


.form-group {
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .form-group {
    flex: 1;
    margin-right: 10px;
}


p {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-hint {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}

.checkbox-label input[type="checkbox"] {
    margin-right: 8px;
}

.btn-create-account {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.btn-create-account:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}
